.title {
  text-align: center;

  margin: 0 0 35px 0;
}

.fix-container {
  width: 1024px;

  margin: 0 auto;
}

.form-container {

}

.form-container__title {

}

.form-container__form {

}

.form-container-form {

}

.form-container-form__input {

}

.form-container-form__btn {

}

.list {
  width: 700px;

  margin: 20px auto 0;
  padding: 0;

  list-style: none;
}

.list__item {

}

.list-item {
  margin: 0 0 20px 0;
  padding: 10px;

  border: 1px solid #000;
  border-radius: 10px;
}

.list-item__text {

}

.list-item__btn {

}
